<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head.cshtml")
    @RenderSection("css", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @await Html.PartialAsync("_Header.cshtml")
        @RenderBody()
        @await Html.PartialAsync("_Footer.cshtml")
        @await Html.PartialAsync("_Foot.cshtml")
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>