@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>404 Error Page</h1>
<p class="zoom-area"><b>CSS</b> Trang này không tồn tại </p>
<section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
    <a target="_blank" asp-action="Index" asp-controller="Home" class="more-link">Quay trở về trang chủ</a>
</div>