

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Quên mật khẩu</div>
                    <div class="card-body">
                        <h1>Xác nhận mật khẩu</h1>

                        <h3 style="text-align: center">
                            Đoạn link đã được gửi, vui lòng kiểm tra email để xác nhận tài khoản.
                        </h3>
                        <hr />
                        <div class="form-group">
                            <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


