@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }



@*<div class="centered">
        <h1>ResetPasswordConfirmation</h1>

        <p>
            Mật khẩu của bạn đã được đặt lại. Vui lòng <a asp-action="Login">Bấm vào đây để đăng nhập</a>.
        </p>
    </div>*@

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Quên mật khẩu</div>
                    <div class="card-body">
                        <h1>Xác nhận đặt lại mật khẩu</h1>
                        <h2>
                            Mật khẩu của bạn đã được đặt lại.<a class="btn btn-link" onclick="showInPopUp('/Account/Login','Đăng nhập')" style="color:blue;">Đăng nhập</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}