    <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tin tức</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">NEWS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        @foreach (var item in ViewBag.TinTuc)
        {
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">@item.TenTinTuc</h2>
                    <p>
                        @Html.Raw(item.ChiTiet)
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame">
                        <img class="img-thumbnail img-fluid" src="~/tintuc/@item.Hinh" alt="" />
                    </div>
                </div>
            </div>
        }       
    </div>
</div>
<!-- End About Page -->