@model _21_11_2021.Areas.admin.Models.KhuyenMai

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cập nhật danh mục sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Cập nhặt danh mục sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh mục sản phẩm</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="MaKhuyenMai" />
                                <div class="form-group">
                                    <label asp-for="TenKhuyenMai" class="control-label"></label>
                                    <input asp-for="TenKhuyenMai" class="form-control" />
                                    <span asp-validation-for="TenKhuyenMai" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SoTienGiam" class="control-label"></label>
                                    <input asp-for="SoTienGiam" class="form-control" />
                                    <span asp-validation-for="SoTienGiam" class="text-danger"></span>
                                </div>
                            <div class="form-group">
                                <input type="submit" value="Quay trở về" asp-action="Index" class="btn btn-success float-right">
                                @*<a asp-action="Index">Back to list</a>*@
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

