    <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Về chúng tôi</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Về chúng tôi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">Motobike - Shop</h2>
                    <p>
                        Được thành lập vào năm 2021 mặc dù còn khá non trẻ nhưng với kinh nghiệm bán hàng onl từ nhiều năm, đội ngũ nhân viên chúng tôi hứa sẽ đem lại cho bạn sự hài lòng.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
                        <img class="img-thumbnail img-fluid" src="~/img/logo.gif" alt="" />
                    </div>
                </div>
            </div>


        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chất lượng</h3>
                    <p>Chúng tôi cam kết về chất lượng sản phẩm khi mua hàng, sản phẩm sẽ ghi rõ nguồn gốc xuất xứ và cả mã QR để bạn kiểm tra thoải mái, đúng hàng mới thanh toán.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Thời gian</h3>
                    <p>Hỗ trợ nhiệt tình 24/7 khi nào bạn rảnh có thể liên hệ trực tiếp hoặc gửi thông tin câu hỏi cho chúng tôi qua phần <a asp-action="Create" asp-controller="LienHe">liên hệ</a> chúng tôi sẽ giải đáp thắc mắc sớm nhất.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Tiết kiệm</h3>
                    <p>Có chương trình khuyến mãi xuyên suốt, và có thể tích lũy số lần mua hàng để nhận chiết khấu trên đơn hàng, mang đến cho bạn sản phẩm chất lượng và tiết kiệm chi phí nhất.</p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title" style="text-align:center;">Chúng tôi gồm</h2>
            </div>
            <div class="col-sm-6 col-lg-3">
               
            </div>
            <div class="col-sm-6 col-lg-3" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/img/LilKha.png" alt="" />
                        <div class="team-content">
                            <h3 class="title">LilKha</h3> <span class="post">Chăm sóc khách hàng</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/HKVQuang" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Với kinh nghiệm bán hàng onl nhiều năm lilkha sẽ mang đến cho bạn sự trải nghiệm thú vị</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/img/Phat.png" alt="" />
                        <div class="team-content">
                            <h3 class="title">Minh Phát</h3> <span class="post">Phát triển website</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/ng.hoangminhphat" class="fab fa-facebook"></a>
                            </li>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Hiện đang học tại trường CĐKT CAO THẮNG chuyên ngành Công Nghệ Phần Mềm chuyên giải đáp thắc mắc về những vấn đề của trang.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
               
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->