@{
    Layout = null;
}
<form asp-controller="cart" asp-action="AddInvoice" method="post" style="text-align: center">
    <input type="submit" value="Xác nhận" style="background-color: blue; color: white; border-radius: 13px; " />
</form>

